*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'poppins',sans-serif;
}

.navbar{
    background-color: lightgrey;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color:#1D232C;
}
.navbar-links a:hover{
    text-decoration:underline;
    color:#1D232C;
}
.navbar-menu-toggle{
    display:none;
}
.side-navbar{
    background-color: #1D232C;
    width:50%;
    height:100%;
    position:fixed;
    padding:20px;
    top:0%;
    left:-60%;
    transition:2s;
    color:white;

}
.side-navbar-link{
    margin-bottom:30px;
}
.side-navbar-links a{
     text-decoration: none;
     color:white;
}
.side-navbar-links a:hover{
    text-decoration: underline;
}

.header{
    display:flex;
    justify-content:center;
    gap:50px;
    padding:50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1D232C;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.service{
    padding: 20px;
}
.service-container-1{
    display:flex;
    justify-content: space-between;
    align-items:center;

}

.service-container-2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.service-container-2 div{
    border-radius: 5px;
    background-color: lightgrey;
    padding: 10px;
}
.new-arrival{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.new-arrival-container{
    position:relative;
    flex-basis: 20%;
}
.new-arrival button{
   
    margin-top: 5px;
    color:#1D232C;
    position:relative;
    bottom:90px;
    right:50%;
    border-radius: 5px;
    border:none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
   
}
.news{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input{
    padding: 11px;
    margin-bottom: 10px;
    width:80vw;
    border:solid black 3px;
}
.news button{
    margin-top: 10px;
    color:#F2F4F7;
    background-color:#1D232C;
    padding:10px;
    border-radius: 10px;
}

.footer{
    background-color: #1D232C;
    color: white;
    padding: 40px;
    margin-top: 20px;
   

}

.product-section{
    margin-top: 20px;
}
.product-search{
    width:80%;
    border: #1D232C solid 2px;
    border-radius: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    margin:auto;
}

.product-search input{
    border:none;
    background-color: transparent;
    width:100%;
}
.product-search input{
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-box{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    border-radius: 10px;
}

.contact-page{
    background-color: black;
    color:white;
    margin-top: 2%;
    position: relative;
    left:17%;
    width:60%;
    margin-bottom: 5%;
    
    
}
.contact-box{
    padding:30px;
    align-items: center;
}

.contact-box p{
    margin-top: 10px;
}

.contact-box input{
    margin-top: 5px;
    border-radius: 5px;
    height:50px;
    width:80%;
    border: none;
    font-size: 20px;
}   
.contact-box textarea{
    height:70px;
    width:50%;
    font-size: 20px;
}

.contact-button{
    position: relative;
    padding: 10px;
    display: flex;
    margin-top: 10px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border:none;
    right: 2px;
    left: 2px;
    cursor: pointer;
}

.contact-box input:focus{
    outline:none;
}
.contact-box textarea:focus{
    outline:none;
}



@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display:block;  
}
.navbar-links{
    display:none;
}
.header-image{
    display:none;
}
.service-container-1{
    display:none;
}
.service-container-2{
    flex-direction: column;
}
}